/* Basic reset */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --blue: #007bff;
    --dark-blue: #0056b3;
    --red: #dc3545;
    --dark-red: #c82333;
    --gray-border: #ddd;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.profile-container {
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25rem;
}

.profile-container h1 {
    color: var(--blue);
    text-align: center;
    margin-bottom: 1.25rem;
}

.profile-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px; /* Add space between each form group */
}

.form-group label {
    display: block; /* Make label display as a block to occupy its own line */
    margin-bottom: .5rem;
}

.form-group input {
    width: 100%; /* Make input take the full width of .form-group */
    height: 38px; /* Fixed height for all input fields */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/* Button styles */
.btn {
    display: block; /* Make buttons take the full width */
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-top: 10px; /* Margin-top for buttons */
}

.btn-primary {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.btn-danger {
    color: #fff;
    background-color: var(--red);
    border-color: var(--red);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}
