{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Responsive Registration Form | CodingLab</title>
    <link rel="stylesheet" href="{% static 'css/forgetPassword.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">Forget Password</div>
        <div class="content">
            <!-- Display Django messages -->
            {% if messages %}
                <p></p>
                <div class="alert-messages">
                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>

                    {% endfor %}
                </div>
            {% endif %}
            <form action="{% url 'password_reset_request' %}" method="post">
                {% csrf_token %}  <!-- Ensure CSRF token is included if CSRF protection is enabled -->
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" placeholder="Enter your first name" required name="first_name">
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" placeholder="Enter your last name" required name="last_name">
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="Enter your email" required name="email">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Find your password">
                </div>
            </form>

             <div class="form return-home">
                <button onclick="location.href='{% url 'index' %}'" type="button">Return to Home</button>
            </div>

        </div>
    </div>
</body>
</html>
