{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FASTER - Logistics Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
        <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }



        .progress-bar-container {
            margin: 20px 0;
        }

        .progress-bar {
            width: 100%;
            background-color: #e0e0e0;
            padding: 3px;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        }

        .progress-bar-fill {
            display: block;
            height: 20px;
            background-color: #5cb85c;
            border-radius: 5px;
            transition: width 0.6s ease;
            width: 0%; /* Initial width */
        }

        .progress-steps {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }

        .step {
            text-align: center;
            width: 100%;
            display: block;
        }

        .complete {
            color: #5cb85c;
        }

    </style>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <audio id="background-music" autoplay loop>
        <source src="{% static 'audio/white_night.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>info@example.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->



    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="{% url 'index' %}" class="navbar-brand ml-lg-3">
                <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-truck mr-2"></i>Faster</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                        </div>
                    </div>

                </div>

                <div class="navbar-nav">
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                </div>

                <button onClick="toggleMusic()">Play/Pause music</button>
            </div>
        </nav>
    </div>

    <!-- Navbar End -->



    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">Safe & Faster</h1>
            <h1 class="text-white display-3 mb-5">Logistics Services</h1>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <input type="text" id="trackingSearchInput"  class="form-control border-light" style="padding: 30px;" placeholder="Tracking Id">
                    <div class="input-group-append">
                        <button onclick="searchAndDisplayPackage()" class="btn btn-primary px-3">Track & Trace</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->



    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" alt="">
                    <div class="bg-primary text-dark text-center p-4">
                        <h3 class="m-0">25+ Years Experience</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
                    <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
                    <p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
                    <div class="d-flex align-items-center pt-2">
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="{% static 'audio/white_night.mp4' %}" data-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- About End -->

    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDetailModal()">&times;</span>
            <div id="progressBarContainer" class="progress-bar-container">
                <div class="progress-bar">
                    <div id="progressBarFill" class="progress-bar-fill"></div>
                </div>
                <div class="progress-steps">
                    <span class="step" id="waitforpickup">wait for pick up</span>
                    <span class="step" id="outfordelivery">out for delivery</span>
                    <span class="step" id="deliveredfordelivery">delivered for delivery</span>
                </div>
            </div>
            <div id="packageDetails">
                <h2>Package Details</h2>
                <p id="ViewTrackingNumber"></p>
                <p id="ViewFrom"></p>
                <p id="ViewTo"></p>
                <p id="ViewStatus"></p>
                <p id="ViewDescription"></p>
            </div>
        </div>
    </div>

    <!-- Team Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
                <h1 class="mb-4">Meet Our Delivery Team</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="team card position-relative overflow-hidden border-0">
                        <img class="card-img-top" src="{% static 'img/genshin.jpg' %}" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                <h5 class="font-weight-bold">Zixu Geng</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-dark btn-social" href="https://www.mihoyo.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="team card position-relative overflow-hidden border-0">
                        <img class="card-img-top" src="{% static 'img/starrail.png' %}" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                                <h5 class="font-weight-bold">Haolun Sun</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-dark btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-dark btn-social" href="https://www.mihoyo.com/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>
                <h1 class="mb-4">Our Clients Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/genshinUser1.png' %}" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Klee</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">原神スタート!</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/genshinUser2.png' %}" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Nahida</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">Genshin Impact Start!</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/genshinUser3.png' %}" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Zhongli</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">原神启动！</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="{% static 'img/genshinUser4.png' %}" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Raiden Shogun</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">원신 시작!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Get In Touch</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Duke University, NC, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>gengzixu123@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="https://www.mihoyo.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Quick Links</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="{% url 'index' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>

                            <a class="text-white mb-2" href="{% url 'service' %}"><i class="fa fa-angle-right mr-2"></i>Our Services</a>

                            <a class="text-white" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Newsletter</h3>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>

                <!-- 消息提示区域 -->
                {% if messages %}
                <div class="alert-messages">
                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>

                    {% endfor %}
                </div>
                {% endif %}

                <!-- 订阅表单 -->
                <form action="{% url 'subscribe_email' %}" method="post">
                    {% csrf_token %}
                    <div class="w-100">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary px-4">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Footer End -->

    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">Mini UPS</a>. All Rights Reserved.

				<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
				Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
<!--            -->
<!--            <div class="col-lg-6 text-center text-md-right">-->
<!--                <ul class="nav d-inline-flex">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="#">Privacy</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="#">Terms</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="#">FAQs</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-white py-0" href="#">Help</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        function searchAndDisplayPackage() {
            const trackingId = document.getElementById('trackingSearchInput').value;
            console.log("trackingId is: " + trackingId)
            fetch(`/public-search/${trackingId}/`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    console.log("here is data for home search track number:")
                    console.log(data)
                    if (data.success) {
                        console.log("found data")
                        document.getElementById('ViewTrackingNumber').textContent = "Tracking Number: " + data.data.track_number;
                        document.getElementById('ViewFrom').textContent = "From: " + data.data.start_location;
                        document.getElementById('ViewTo').textContent = "To: " + data.data.end_location;
                        document.getElementById('ViewStatus').textContent = "Status: " + data.data.current_status;
                        document.getElementById('ViewDescription').textContent = "Description: " + data.data.description;
                        updateProgress(data.data.current_status);

                        document.getElementById('detailModal').style.display = 'block';
                    } else {
                        alert('No details found for this tracking number.');
                    }
                })
                .catch(error => {
                    alert('Failed to fetch package details: ' + error.message);
                });
        }

        function updateProgress(currentStatus) {
            const statuses = {
                "wait for pick up": 33,
                "out for delivery": 66,
                "delivered for delivery": 100
            };

            // Set the width of the progress bar fill
            var progressFill = document.getElementById('progressBarFill');
            progressFill.style.width = statuses[currentStatus.toLowerCase()] + '%';

            // Update step classes based on current status
            document.querySelectorAll('.progress-steps .step').forEach(step => {
                if (step.id.toLowerCase().includes(currentStatus.replace(" ", ""))) {
                    step.classList.add('complete');
                } else {
                    step.classList.remove('complete');
                }
            });
        }

        function closeDetailModal() {
            document.getElementById('detailModal').style.display = 'none';
        }




        var music = document.getElementById('background-music');


        function toggleMusic() {
            if (music.paused) {
                music.play().catch(function(error) {
                console.error('播放失败：', error);
            });
            } else {
                music.pause();
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var music = document.getElementById('background-music');

            // Attempt to resume the music state from localStorage
            if (localStorage.getItem('isPlaying') === 'true') {
                var musicTime = parseFloat(localStorage.getItem('musicTime')) || 0;
                music.currentTime = musicTime;
                music.play().catch(function(error) {
                    console.error('Playback failed:', error);
                });
            }

            // Event listener for music time updates
            music.addEventListener('timeupdate', function() {
                localStorage.setItem('musicTime', music.currentTime);
            });

            // Save the play state before the page unloads
            window.onbeforeunload = function() {
                var isPlaying = !music.paused;
                localStorage.setItem('isPlaying', isPlaying);
                if (isPlaying) {
                    localStorage.setItem('musicTime', music.currentTime);
                }
            };

            // Function to toggle music on user interaction
            window.toggleMusic = function() {
                if (music.paused) {
                    music.play().catch(function(error) {
                        console.error('Playback failed:', error);
                    });
                } else {
                    music.pause();
                }
            };
        });


        $(document).ready(function(){
            // 当点击播放按钮时
            $('.btn-play').click(function(){
                var videoSrc = $(this).data('src');
                $('#video').attr('src', videoSrc + "?autoplay=1&modestbranding=1&showinfo=0"); // 添加自动播放
                $('#videoModal').modal('show');
            });

            // 当模态框关闭时重置视频源，这样可以停止视频播放
            $('#videoModal').on('hidden.bs.modal', function (e) {
                $('#video').attr('src', '');
            });
        });




    </script>
</body>

</html>
