{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Update Pasword</title>
    <link rel="stylesheet" href="{% static 'css/forgetPassword.css' %}">
</head>

{% block content %}
<div class="container">
    <div class="title">Reset Your Password</div>
    <div class="content">
        <form method="post">
            {% csrf_token %}
            <p>Please enter your new password twice to verify you typed it in correctly.</p>
            <div class="user-details">
                {{ form.as_p }}
            </div>
            <div class="button">
                <input type="submit" value="Change my password">
            </div>
        </form>
    </div>
</div>
{% endblock %}